version: '3.8'

services:
  neo4j:
    image: neo4j:5.20.0
    environment:
      - NEO4J_AUTH=${AUTH}
    restart: always
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./neo4j:/data